electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
python=/opt/homebrew/bin/python3.11
target_platform=darwin
target_arch=arm64
cache_min=999999999
cxxflags=-std=c++20
