* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  display: flex;
}

#container {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

#chatHistoryContainer {
  width: 30%;
  border-left: 1px solid #ccc;
  display: none;
  flex-direction: column;
  background-color: #f4f6f7;
  padding: 15px;
  gap: 15px;
  align-items: center;
}

#chatHistoryType {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  border-bottom: 5px solid transparent;
  transition: all linear 0.3s;
}

#chatHistorySearchInput {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  input {
    flex: 1;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
  }
  button {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
  }
}

#chatHistoryFilters {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  div {
    padding: 0 10px;
    border-radius: 5px;
    transition: all linear 0.3s;
    text-align: left;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    line-height: 30px;
    border-radius: 5px;
    font-size: 14px;
    color: #1fa5f7;
    &:hover {
      background-color: #e0e0e0;
    }
  }
}

#messages {
  width: 100%;
  height: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  padding: 10px;
}

.receivedMessage,
.sentMessage {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .messageInfo {
    font-size: 10px;
    color: #888;
    margin-bottom: 5px;
  }
  .messageContent {
    font-size: 12px;
    max-width: 70%;
    word-break: break-word;
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
}

.sentMessage {
  align-items: flex-end;
  .messageContent {
    background-color: lightgreen;
  }
}

#divider {
  width: 100%;
  height: 5px;
  background-color: #f4f6f7;
  cursor: ns-resize;
}

#inputBox {
  flex: 1;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tools {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #fafafa;
  gap: 10px;
  button {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 3px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
  }
}

#messageInput {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  background-color: #fafafa;
  outline: none;
  padding: 15px;
}

.messageInputImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: center;
}
